.button {
  display: inline-block;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  font-size: var(--fs-base);
  font-weight: 500;
  letter-spacing: -0.08px;

  transition: background-color 0.3s, color 0.3s, border 0.3s;
  width: fit-content;
}

.primary {
  background-color: var(--button, #e44848);
  color: var(--white, #fff);
  padding: 1.6rem 5.6rem;

  &:hover {
    background-color: var(--button-hover, #d84343);
  }
}

.secondary {
  background-color: var(--white, #fff);
  border: 1px solid var(--gray-light, #dadde1);
  color: var(--main, #101828);
  padding: 1.6rem 3.2rem;

  &:hover {
    border: 1px solid var(--button-hover, #d84343);
  }
}

.disabled {
  background-color: var(--gray-light);
  border: 1px solid var(--gray-light);
  color: var(--gray);
  cursor: not-allowed;
  opacity: 0.6;
}
