.component {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--Main, #101828);
  font-size: var(--fs-sm, 2rem);
  font-weight: 600;
  line-height: 24px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
