.component {
  display: flex;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--gray-light, #dadde1);
  background: var(--white, #fff);
}

.content {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.button {
  margin-top: auto;
}

.description {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  color: var(--text, #475467);
}
