:root {
  /* Colors */
  --main: #101828;
  --gray: #6c717b;
  --text: #475467;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;

  /* Font sizes */
  --fs-lg: 4.8rem;
  --fs-md: 2.4rem;
  --fs-sm: 2rem;
  --fs-base: 1.6rem;
}
