.gallery {
  display: flex;
  justify-content: space-between;

  img {
    cursor: pointer;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  flex-grow: 1;
  margin-bottom: 6rem;
}

.description {
  color: var(--text, #475467);
}

.nav {
  border-bottom: 0.1rem solid var(--gray-light);
  display: flex;
  gap: 4rem;
  margin-bottom: 4.4rem;
  padding-bottom: 2.4rem;
}

.nav a {
  color: var(--main, #101828);
  font-size: 2rem;
  font-weight: 600;

  position: relative;

  &.active::after,
  &:hover::after {
    background: var(--button, #e44848);
    content: '';
    height: 0.5rem;
    position: absolute;
    bottom: -2.7rem;
    left: 0;
    width: 100%;
  }
}

.bottom {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
